html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}



a {
    color: teal;
}
.mdl-menu a {
    text-decoration: none;
}
.content {
    max-width: 1024px;
}
.mdl-card {
    display: block;
}
h3 {
/*    background: url('https://cdn.glitch.com/us-east-1%3A5e7e49b6-c815-4877-8abb-29e7b6cdfc1c%2Ffirebase-logo.png') no-repeat;
    background-size: 40px;
    padding-left: 50px;
    background-position-y: -2px;
*/}
.mdl-textfield {
    width: 100%;
}
/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}
/* Overrides MDL colors */
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after,
.header .mdl-textfield__label:after {
    background-color: #FFCA28;
}
.mdl-snackbar__action {
    color: #FFCA28;
}
.mdl-textfield__label:after {
    background-color: #0288D1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
}

/* Header */

.logo {
    font-family: 'Amaranth', sans-serif;
    }
.logo .material-icons {
    top: 4px;
    font-size: 32px;
    margin-right: -2px;
    position: relative;
}
.header .mdl-layout__header-row {
    max-width: 1024px;
    width: 100%;
    height: auto;
  /*  padding: 10px 20px;*/
    margin: auto;
    position: relative;
          padding: 0px;
  
}


.mdl-layout__header-row {
 padding: 5px;
 align: center;
 color: #FFF
}

@media screen and (max-width: 840px) {
    .header .mdl-layout__header-row.titlebar {
        height: 56px;
      
    }
    .titlebar h3 {
        font-size: 24px;
        color: #FFF;
        align: center;
        text-align: center;
    }
    .titlebar h3 .material-icons {
        top: 2.5px;
        font-size: 23px;
    }
}
@media screen and (max-width: 479px) {
    .mdl-grid {
        padding: 0px;
    }
    .mdl-card {
        font-size: 14px;
      
    }
}

.mdl-button .material-icons {
    margin-top: -2px;
}
.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
    margin-top: 0;
}

/* Navigation Bar */

.header .mdl-tab {
    padding-left: 23px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    margin: auto;
    max-width: 1024px;
    
}
@media screen and (max-width: 609px) {
    .header .mdl-tab {
        width: auto;
    }
}
.header .tab {
    padding: 0;
    max-width: none;
}
#add {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 998;
}
@media screen and (max-width: 840px) {
    #add {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 998;
        top: auto;
    }
}
#sign-out-button {
    right: 0;
    position: absolute;
}

/* Drawer */

.mdl-layout__drawer-button {
    display: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active,
.is-active .mdl-menu__item {
    color: black;
    background-color: #EBEBEB;
}
.mdl-layout__drawer {
    border-right-width: 0;
}
.mdl-navigation__link .material-icons, .mdl-menu__item .material-icons {
    position: relative;
    margin-top: -2px;
    margin-right: 10px;
}
.mdl-menu__item .material-icons {
    top: 7px;
}
@media screen and (max-width: 479px) {
    .mdl-layout__drawer-button {
        display: block;
        top: 3px;
    }
}

/*Welcome Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  
  }
  
h1{
  color: white;
 /* background: linear-gradient(to bottom,rgba(0,0,0,0) 10%, rgba(0, 150, 136,.9) 50%, rgba(0,0,0,0) 10%); 
  */
  
  text-shadow: 0 0 50px rgba(0, 150, 136,1);
}

h6{
  color: white;
 /* background: linear-gradient(to bottom,rgba(0,0,0,0) 10%, rgba(0, 150, 136,.9) 50%, rgba(0,0,0,0) 10%); 
  */
    text-shadow: 0 0 50px rgba(0, 150, 136,1);
}

#wordCloud {
  word-wrap: break-word;
  position: fixed;
  z-index: -1;
  background-color:#b2dfdb;
  background: linear-gradient(to bottom,teal,#b2dfdb);  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  color: #79C8C1;
}

#wordCloud p {
   font-size: 22px;
  word-wrap: break-word;
 }

#splashLogo{
 transform: rotate(-30deg);
  width:250px; 
  height:250px;
  position: fixed;
  bottom: -55px;
  right: -15px;
  z: -100;
}



/* My add*/

#start-splash {
    position: relative;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 100pt;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .btn.waves-effect {
  height: 60pt ;
  width: 100%;
  margin-left:0%;
  margin-right:0%;
  padding-left:0%;  
  padding-right:0%;
  padding-top: 5%;
  padding-bottom: auto;
  position: relative;
}
.btn.waves-effect .material-icons {
    position: absolute;
    left: 47%;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
.teamheader {

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#join-button {
    margin-left: 10px;
    color: inherit;
    width: 80%;
    height: 100px;
    vertical-align: middle;
    top:20pt;
    background-color: teal;
}
#create-button {
    margin-left: 10px;
    color: inherit;
    width: 80%;
    height: 100px;
    vertical-align: middle;
    top:20pt;
    background-color:;
}

.logoutLblPos{

   position:fixed;
   right:10px;
   top:15px;
}
.infoLblPos{

   position:fixed;
   right:10px;
   top:67px;
}

.endGameTrigger{
   position:fixed;
   right:50px;
   top:67px;
}

.backbutton{

   position:fixed;
   left:10px;
   top:65px;
}

.dropdown-content {
      max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
}
.loginName{
   position:fixed;
   right:45px;
   top:22px;
  color: #FFF
}
.scores1{
   position:relative;
   height: 20px;
  font-size: 22px;
  vertical-align: middle;
    padding-top:10px
}
.scores2{
   position:relative;
   height: 40px;
  background-color: #e0f2f1;
  font-size: 22px;
  text-align: middle;
  padding-top:8px
}
.scores3{
   position:relative;
   height: 10px;
  font-size: 22px;
  vertical-align: top;
    padding-top:-80px
}
.nextP{
   position:relative;
   height: 40px;
  background-color: #e0f2f1;
  vertical-align: middle;
    padding-top:10px
}
.scores10{
   position:relative;
   height: 100px;
  font-size: 48px;
  vertical-align: middle;
    padding-top:40px
}
.scores20{
   position:relative;
   height: 100px;
  background-color: #e0f2f1;
  font-size: 48px;
  text-align: middle;
  padding-top:40px
}
.scores30{
   position:relative;
   height: 100px;
  font-size: 48px;
  vertical-align: top;
    padding-top:40px
}

#turnStatus {
    background-color: #ff8a65;
    color: #FFF;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
}
#turnInProgress {
    background-color: #80cbc4;
    color: #FFF;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;
      padding-top: 7px;
}
#turnInProgressNameScore {
    background-color: #e0f2f1;
    width: 100%;
    height: 200px;
    vertical-align: middle;
    text-align: center;
       padding-top: 7px;
}

.nameInput {
  width: 90%;
}

.wikiName {
  float: right;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;  width: 10%;
  padding: 5px;
  color: teal;
  font-size: 17px;
  cursor: pointer;
}

#wikiWait{
    z-index: 1000;
    top: 50%;
    left: 40%;
    position: absolute;
}

.more-ot-alert {
  display: none;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  background-color: #e57373 ;
  color: #FFFFFF;
  border: 2px solid teal;
  height: 3rem;
  width: 140px;
  transform: translateZ(0);
  animation: move .4s ease 3;
  position: fixed;
  top: 2px;
  left: 50%;
  z-index: 55;
  p {
    font-size: 45px
  }
}

.more-ot-alert .close-ot-alert {
  clear: both;
  cursor: pointer;
  float: left;
  margin: 0;
}
.more-ot-alert .close-ot-alert i {
  color: #FFFFFF;
}
.more-ot-alert .close-ot-alert i:hover {
  color: teal;
}
@keyframes move {
  50% { transform: translate(10px, 0); }
}

