/* styles */
/* called by your view template */

* {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 2rem;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 40rem;
}

form {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 21rem;
  border-radius: .5rem;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: .3rem;
  width: 100%;
  border: .06rem solid lightgray;
  border-radius: .5rem;
  font-size: 1em;
}

button {
  font-size: 1em;
  border-radius: .5rem;
  background-color: lightgray;
  border: .06rem solid grey;
  box-shadow: .1rem .1rem teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: .3rem;
}

footer {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: .06rem solid lightgray;
}

#install-prompt {
  margin-top: 1rem;
}